* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header .Nombre {
  padding: 1rem;
  font-size: xx-large;
  font-weight: bold;
  text-transform: uppercase;
}

header .Enfoque {
  padding: 1rem;
  font-size: medium;
  font-weight: 200;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-height: 80vh;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
}

section h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
}

section p {
  font-weight: 100;
  line-height: 1.5em;
  text-align: left;
}
